.btn:not(.btn-link) {
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-weight: 700;
  -moz-font-weight: 700;
  -webkit-font-weight: 700;
  letter-spacing: 0.125rem;
  font-size: 0.8rem;

  &,
  &:focus,
  &:active {
    box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.1);
  }

  padding: 1rem 2rem;
  background: #eee;

  border: none;
  border-radius: $border-radius;

  font-size: 1rem;
  line-height: 1;
  color: #fff;

  white-space: nowrap;

  &:not(.disable-hover):hover {
    transform: scale(1);
    transition: background-color 0.25s ease-out, color 0.35s ease-in;
  }

  &.btn-blue {
    background: $theme-color-1;
  }

  &.btn-turquoise {
    background-color: $turquoise-color;
    color: $black-color;
  }

  &.btn-outlined-blue {
    background: inherit;

    border: 3px solid $theme-color-1;

    color: $theme-color-1;

    border-radius: 30px;

    &:not(.disable-hover):hover {
      color: #000;

      transform: scale(1.06);

      background-color: $theme-color-1;
    }
  }

  &.btn-outlined-milan {
    background: inherit;

    border: 3px solid $milan-color;

    color: $milan-color;

    border-radius: 30px;

    &:not(.disable-hover):hover {
      color: #000;

      transform: scale(1.06);

      background-color: $milan-color;
    }
  }

  &.btn-outlined-mauve {
    background: inherit;

    color: $mauve-color;

    border: 3px solid $mauve-color;
    border-radius: 30px;

    &:not(.disable-hover):hover {
      color: #000;

      transform: scale(1.06);

      background-color: $mauve-color;
    }
  }

  &.btn-outlined-turquoise {
    background: inherit;

    border: 3px solid $turquoise-color;
    border-radius: 30px;

    color: $turquoise-color;

    &:not(.disable-hover):hover {
      color: #000;

      transform: scale(1.06);

      background-color: $turquoise-color;
    }
  }

  &.btn-turquoise {
    color: $black-color;

    background-color: $turquoise-color;
  }

  &.btn-milan {
    color: $black-color;

    background-color: $milan-color;
  }

  &.btn-mauve {
    color: $black-color;

    background-color: $mauve-color;
  }

  &.btn-secondary.dropdown-toggle {
    font-family: $body-font-family;
    text-transform: capitalize;
    font-weight: unset;
    font-size: 0.8rem;

    border-radius: unset;

    background: inherit;

    opacity: 0.6;

    padding: 0;

    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }
}
