@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  font-family: arial;
}

header {
 margin: auto;
 max-width: 1200px;
 background-color: #FFEED2;
}

h1, p {
  color: #4736FF;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 2;
}

.header-image {
  border-radius: 50%;
  border: solid 1px #4736FF;
}

.curve-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.curve-image {
  width: 100%;
}

.header-image-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

  @media only screen and (max-width: 600px) { 
    .header-container {
      grid-template-columns: 1fr;
    }

    .search-container {
      top: 65px;
      max-width: 250px;
    }
    .header-image-container {
      display: none;
    }
  }