// Cookie consent
// See: https://www.osano.com/cookieconsent/documentation/javascript-api/
.cc-window.cc-floating {
  font-family: $font-family-base;

  border-radius: $border-radius;

  padding: 3rem 3.5rem;

  max-width: 30em;
}

.cc-animate.cc-revoke.cc-bottom {
  font-size: 0.9rem;

  transform: translateY(0.2rem);
}

.cc-revoke {
  padding: 0.4rem;

  line-height: 1.1;

  @include media-breakpoint-down(xs) {
    opacity: 0.8;
  }
}

.cc-revoke.cc-right {
  @include media-breakpoint-down(xs) {
    right: 1rem;
  }
}

.cc-message {
  line-height: 1.2;
}

.cc-btn {
  border-radius: $border-radius;

  outline: 0;

  white-space: normal;

  &:first-child {
    font-size: 0.9rem;
    line-height: 1.2;
    font-weight: normal;
  }

  @include a-all-selectors {
    text-decoration: none;
  }

  &.cc-deny {
    width: 70% !important;

    padding-left: 0;
  }
}
